/* *{ outline: .1px solid #ff0000 !important; }  */

@font-face {
  font-family: "Roboto_Mono";
  src: url("../../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf");
  src: url("../../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Courier New", "Courier", "sans-serif";
  font-size: 100;
}

/* ============= Grid Layout starts================= */
.grid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 569px 569px;
  grid-template-areas: "imgArea" 
                      "timerArea";
}
.crossFade{
  grid-area: imgArea;
}
.timerContainer {
  grid-area: timerArea;
}
/* .container {
  grid-area: btnArea;
} */
/* ============= Grid Layout ends =================== */

/* =========Fade in Pictures kitchen starts========== */
.bottom {
  background-image: url("../../img/landing/kitchen4.jpg");
 background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.top {
  background-image: url("../../img/landing/kitchen7.jpg");
 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

#cf {
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
/* =========Fade in Pictures kitchen ends========== */

/* ==========Timer Elements CSS stats ============= */
.timerContainer {
  background-image: url("../../img/landing/wave.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(245, 239, 239);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.timer {
  background-color: rgba(240, 235, 235, 0.5);
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  padding-top: 2em;
  width: 100%;
  height: 100%;
  color: aqua;
  
}

#timerElements {
  align-content: center;
  font-size: large;
  /* combined css */
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  text-align: center;
}

.timer div:first-child {
  text-align: center;
}

.elementsHeight {
  border: solid 1px #555;
  background-color:  #4F95DA;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 10vw;
}
section > div:nth-child(2) > section:nth-child(3) {
  border: solid 1px #555;
  background-color:  #4F95DA;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
section > div:nth-child(2) > section:nth-child(5) {
  border: solid 1px #555;
  background-color:  #4F95DA;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
section > div:nth-child(2) > section:nth-child(7) {
  border: solid 1px #555;
  background-color:  #4F95DA;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

section p:first-child,
#timerElements span {
  font-family: "Roboto_mono", "Courier New", "Courier", "sans-serif";
  font-size: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}
/* ==========Timer Elements CSS ends ============= */

/* ===========Button work area Start============ */
.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.center {
  width: 180px;
  height: 60px;
  position: absolute;
  background-color: rgba(240, 235, 235, 0.5);
}

.button {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  padding: 3%;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.button:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.button:hover svg {
  stroke-dashoffset: -480;
}

.button span {
  color: white;
  font-size: 18px;
  font-weight: 800;
  color: aqua;
}

#modal {
  background-image: url("../../img/landing/texture.jpg");
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  font-weight: 600;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  max-width: 100%;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  padding: 35px;
  z-Index: 2;
  position: absolute;
}
/* ===========Button work area End ============= */

/* ================ Media query ================= */
@media screen and (min-width: 750px)
{
 .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 820px;
    grid-template-areas: "imgArea" ,
                          "imgArea",
                          "timerArea",
                          "timerArea";
  }

  p {
    font-size: 30px;
  }
} 
