.danger {
  color: #ff0000;
}

.applianceRepair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repairForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.brandSelect {
  margin-bottom: 1rem;
}

.submitButton {
  margin-top: 1rem;
}

.labelAppliance {
  font-size: 18px;
  font-weight: 600;
}
