.repairPage {
  margin: 5vh auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7vh;
}

.fillForm {
  font-size: 20px;
}
.brandSelect {
  margin-bottom: 1rem;
}

.submitButton {
  margin-top: 1rem;
}

.labelAppliance {
  font-size: 18px;
  font-weight: 600;
}

