.quotationForm {
    width: '210mm';
    min-height: '297mm';
    margin-left: 'auto';
    margin-right: 'auto';
}

article {
    width:96%;
    margin:5vh auto;
    background-color: whitesmoke;
}

article div {
    width:98%;
    height:98%;
    margin:3vh auto 0 auto;
    padding-top:0.2vh;
}

img {
    float: left;    
}

article h2 {
    text-align:center;
    color:red;
    font-size:1.25rem;
    font-weight: bolder;
}

article section {
    margin-top: 5vh;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom:0;
    background-color:antiquewhite;
}  

table,td {
border: 1px solid peachpuff;
background-color: white;
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align:left;
    height:5vh;
}

tr td:first-of-type {
    background-color: powderblue;
    font-weight: 500;
}
table tr:last-of-type {
    border-style: groove;
}

table {
border-collapse: collapse;
width:100%;
margin:0 auto 3vh auto;
}

.pdfButton {
display:block;
margin:3vh auto;
padding: 0.5rem;
font-size: 0.9rem; 
font-weight: 500;
background-color: peru; 
}


@media screen and (min-width:760px) {

    article {
        width:90%;        
    }

    article div {
        width:85%;        
        margin:0 auto 0 auto;
        padding-top:0.2vh;
    }

    article h2 {
        font-size: 1.5rem;
    }

    table tr td {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align:left;
        height:5vh;  
        font-size: large;      
    }

    .pdfButton {
        font-size: large;
        padding:0.8rem;
    }  
}


@media screen and (min-width:1024px) {
    article {
        width:70%;        
    }   

    article div {
        width:85%;        
        margin:0 auto 0 auto;
        padding-top:0.8vh;
    }

    table tr td {        
        height:7vh; 
        font-size: larger;            
    } 

    article h2 {
        font-size: 2rem;
    }
}




