article img {
    height:4vh;
}

article {
    width:96%;    
    margin:5vh auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:3vh;    
    background-color: #D9D9D966;   
}

article div {
    width:98%;
    height:98%;
    margin:0 auto;
    padding-top:0.2vh; 
    padding-right: 1rem;
    padding-left: 1rem;
}

img {
    float: left;    
}

article h2 {
    text-align:center;
    color:#fff;
    font-size:1.14rem;
    font-weight: 900;   
}

article section {
    margin-top: 5vh;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    margin-bottom:0;
    background-color: #00897B;      
}  

table {
    border-collapse: collapse;
    width:100%;
    margin:0 auto 3vh auto;
}

table td {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align:left;
    height:5vh;
    font-weight: bolder;
    background-color:#fff;    
}

table tr:nth-child(even) td {    
    background-color:#A7D9D066;
}

tr td:first-of-type {   
    font-weight: 900;
}

tr td:last-of-type {
    font-weight: 450;
}

table tr:last-of-type {    
    border-style: groove;
    border:0.4rem solid #00897B;           
}

table tr:last-of-type td {
    font-size:large;
    font-weight:500;
}

.pdfButton {
    display:block;
    margin:3vh auto 2vh auto;
    padding: 0.5rem;
    font-size: 0.9rem; 
    font-weight: 500;
    background-color: #22A2F2; 
    color:#fff;
    box-shadow:5px 10px #888888;
    transition-duration: 0.4s;
}

.pdfButton:hover {
    background-color:#22A2F255;
    color: #000;
}


@media screen and (min-width:760px) {

    article {
        width:90%;        
    }

    article div {
        width:500px;        
        margin:0 auto 0 auto;
        padding-top:0.2vh;
    }

    article h2 {
        font-size: 1.5rem;
    }

    table tr td {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align:left;
        height:5vh;  
        font-size: large;      
    }

    table tr:last-of-type td {
        font-size:x-large;
        font-weight:500;
    }

    .pdfButton {
        font-size: large;
        padding:0.8rem;
    }  
}


@media screen and (min-width:1024px) {
    article img {
        height:7.5vh;
    }
    
    article {
        width:70%;        
    }   

    article div {
        width:85%;        
        margin:0 auto 0 auto;
        padding-top:0.8vh;
    }

    table tr td {        
        height:7vh; 
        font-size: larger;            
    } 

    article h2 {
        font-size: 2rem;
    }
}


