.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.showImg1 {
  background-image: url("./Images/img1.jpg");
}
.showImg2 {
  background-image: url("./Images/img2.jpg");
}
.showImg3 {
  background-image: url("./Images/img3.jpg");
}
.showImg4 {
  background-image: url("./Images/img4.jpg");
}
/* .each-slide2 {
    background-image: url(./Images/img2.jpg);
  }

  .each-slide1 {
    background-image: url(./Images/img1.jpg);
  }

  .each-slide3 {
    background-image: url(./Images/img3.jpg);
  }

  .each-slide4 {
    background-image: url(./Images/img4.jpg);
  } */
