.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #EFEFEF;
    text-align: center;
  }

  /* .each-slide2 {
    background-image: url(./Images/img2.jpg);
  }

  .each-slide1 {
    background-image: url(./Images/img1.jpg);
  }

  .each-slide3 {
    background-image: url(./Images/img3.jpg);
  }

  .each-slide4 {
    background-image: url(./Images/img4.jpg);
  } */
  